.btn {
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #43bb67;
    background: #fff;
    color: #000;
}

.btn:hover {
    background: #43bb67;
    color: #000;
}

.btn-mini {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #43bb67;
    background: #fff;
    color: #000;
}

.btn-mini:hover {
    background: #43bb67;
    color: #000;
}

input {
    font-size: 20px;
    padding: 15px;
    border: 1px solid #43bb67;
}

.wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
}

select {
    padding: 5px;
    border: 1px solid #43bb67;
    margin-top: 5px;
}